body {
    background-color: #FFFAF0;
    font-family: Monaco;
}

span.title,
.subtitle,
.source,
.author,
.address {
    font-family: "American Typewriter";
    font-weight: normal;
}

span.address {
    font-style: italic
}

span.federalism {
    color: #6600ff;
}

span.significantPhrase {
    color: #993300;
}

span.historicalComparison {
    color: lightgrey;
}

span.closing {
    font-style: italic;
}

span[about = elitist] {
    font-weight: 600;
}

span[about = populist] {
    text-decoration: underline;
}

span[about = both] {
    font-weight: 600;
    text-decoration: underline;
}

span.military {
    color: #ff9966;
}

span.trade {
    color: #cb4c4e;
}

span.taxation {
    color: #ffdbac;
}

span.foreignPolicy {
    color: #bfdfbf;
}

span.liberty {
    color: cyan;
}

span.executive {
    color: brown;
}

span.judicial {
    color: #FFC0CB
}

span.legislature {
    color: #d7d2ff;
}

span.quote::before {
    content: open-quote;
}

span.quote::after {
    content: close-quote;
}

span.parenthesis::before {
    content: "("
}

span.parenthesis::after {
    content: ")"
}

/* Text Box */
.textbox {
     border: 3px solid black;
     background-color: #04AA6D;
     text-align: left;
     margin-left: 350px;
     margin-right: 40px;
     padding: 10px;
     padding-top: 0px;
     margin-bottom: 25px;
     margin-top: 15px;
     color: #FFFAF0;
}