body {
display: flex;
background-color: #FFFAF0;
}

h1 {
    color: black;
    text-align: left;
    padding-left: 10px;
    font-family: "American Typewriter";
    font-size: 40px;
    font-weight: normal;
}

h2 {
    font-family: "courier";
    text-align: center;
    font-weight: normal;
}

p {
    font-family: "American Typewriter";      
}

/* Text Box */
.textbox {
     display: flex;
     flex-direction: row;
     border: 3px solid black;
     background-color: lightgray;
}

/* Header */ 
.header {
    display: flex;
    flex-direction: row;
    order: 1;
    font-family: "American Typewriter";
    color: black;
    font-size: 40px;
}

/* Menu */  
.vertical-menu {
  background-color: #04AA6D;
  display: flex;
  flex-direction: column;
  font-family: "American Typewriter";
  
}

.vertical-menu a {

  border: 1px solid black;
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}

.flex-container {
   display: flex;
   order: 2;
   flex-direction: column;
   justify-content: flex-end;
   flex-wrap: wrap;
   align-items: center;
   align-content: flex-start;
   gap: 15px;
}



