.vertical-menu {
  width: 200px;
  margin: 40px;
}

.vertical-menu a {
  background-color: #04AA6D;
  color: black;
  display: block;
  padding: 20px;
  border: 1px solid black;
  text-decoration: none;
  
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}

img {
position:absolute;
    z-index:0;
    text-align: left;
}

body {
background-color: #FFFAF0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: "Garamond";
}

h1 {
    text-align: center;
    font-family: "American Typewriter";
    font-size: 60px;
}

.textarea {
    display: block;
    border: 3px solid black;
    text-align: center;
    background-color: #04AA6D;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 30px;
    font-size: 1.28em;
    
}

h2 {
    font-family: "American Typewriter";
}