body {
background-color: #FFFAF0;
}

h2 {
    font-family: "courier";
    text-align: center;
    font-weight: normal;
}

p {
    font-family: "American Typewriter";      
}

/* Text Box */
.textbox {
     border: 3px solid black;
     background-color: #04AA6D;
     text-align: left;
     margin-left: 350px;
     margin-right: 40px;
     padding: 10px;
}

/* Header */ 
.header {
    font-family: "American Typewriter";
    color: black;
    font-size: 40px;
}

/* Menu */  
.vertical-menu {
  width: 160px;
  float: left;
  
}

.vertical-menu a {
  display: block;
  background-color: #04AA6D;
  font-family: "American Typewriter";
  font-size: 20px;
  border: 2px solid black;
  text-decoration: none; 
  padding: 8px;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}




